---
import Layout from '../layouts/Layout.astro'
import tailyUI from 'taily-ui'
---

<Layout
    title="Welcome to Feelicy"
    description="Meditation, focus, mind mapping and goal planning in game format of Garden Simulator."
>
    <main class="select-none overflow-hidden">
        <fragment
            set:html={tailyUI.OpenSourcePromo({
                logo: '/favicon.svg',
                title: 'Feelicy',
                color: 'success',
                text: [
                    { type: 'default', value: 'Create' },
                    { type: 'primary', value: 'beautiful' },
                    {
                        type: 'default',
                        value: 'forest of thoughts, plans and habbits inside the best platform for'
                    },
                    { type: 'secondary', value: 'self-improvement' }
                ],
                description: 'Meditation, focus, mind mapping and goal planning in game format of Garden Simulator.',
                button: {
                    title: 'Plant new tree',
                    link: '#kpi'
                },
                github: 'https://github.com/nikdelvin/feelicy'
            })}
        />
        <fragment
            id="kpi"
            set:html={tailyUI.KPICards({
                title: 'At your fingertips',
                color: 'success',
                cards: [
                    { title: 'Mind', description1: 'mapping', description2: 'platform' },
                    { title: 'Goal', description1: 'planning', description2: 'dashboard' },
                    { title: 'Chill', description1: 'meditation', description2: 'music' },
                    { title: 'Field', description1: 'for growing', description2: 'habbits' }
                ],
                button: {
                    title: 'Touch the beauty',
                    link: '/'
                }
            })}
        />
    </main>
</Layout>
